.left-bar{
    width: 200px;
    float: left;
    height: 100px;;
}

.content{
    width: 800px;
    float: left;
    height: 100px;;
}

.conteiner{
    width: 1000px;
    background-color: violet;
    margin: auto;
    margin-top: 50px;
}

.card{
    width:18%;
    float: left;
    padding: 5%;
    background-color: beige;
    margin-right:5px ;
    border-radius: 10px;
}

.box{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    float:left;
}
.green{
    background-color: green;
   
}
.red{
    background-color: red;
    
}